.backdrop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    overflow-y: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: rgba(150, 127, 127, 0.5);
}

.content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    z-index: 10;
    top: 0;
    .modal {
        position: fixed;
        height: auto;
        width: auto;
        background-color: rgba(255, 241, 229, 1);
        border-radius: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        z-index: 20;
    }
}

@media (max-width: 768px) {
    .content {
        padding: 10px;
        .modal {
            width: 90vw;
        }
    }
}
