.userCard {
    position: relative;
    display: grid;
    justify-items: start;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    padding: 8px 16px;
    border: 2px solid #ACCA62;
    gap: 16px;
    border-radius: 8px;
}